<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="style.css" rel="stylesheet">
    <title>TaskManager</title>
</head>
<body>
        <div id="app">
   <header>
    <a class="a" href="#" @click="addTask()">Add a new mission</a>
    <input v-model="newTask">
    <h1>Task Manager for super agent</h1>
    <div class="image_one"> 
        <img  src="image_one.jpg" width="120px" height="70px">
    </div>
   </header>
   <div class="block">
   <div class="menu">
           <a class="m" href="#yak1">Today's missions</a>
           <a class="m" href="#yak2">All missions</a>
           <a class="m" href="#yak3">Complete missions</a>
   </div>     
   <div class="block1" id="yak1">
        <h2>Today's missions</h2>
        <draggable v-model="lists.today" group="gr" @start="drag=true" @end="drag=false" 
@change="saveTasks()" 
><task v-for="(box, index) in lists.today" :id="box.id" :text="box.text" :count="index" data-col="today"></task></draggable>
        
   </div> 

   <div class="block2" id="yak2">
        <h2>All missions</h2>
        <draggable v-model="lists.all" group="gr" @start="drag=true" @end="drag=false" @change="saveTasks()" > 
                <task v-for="(box, index) in lists.all" :id="box.id" :text="box.text" :count="index" data-col="all"></task>
        </draggable>
    </div>

    <div class="block3" id="yak3">
        <h2>Complete missions</h2>
        <draggable v-model="lists.done" group="gr" @start="drag=true" @end="drag=false" @change="saveTasks()" >
                <task v-for="(box, index) in lists.done" :id="box.id" :text="box.text" :count="index" data-col="done"></task>
        </draggable>
    </div>
</div> 
   <footer>
       <div class="footer_text">
        <p>Agent 007 Task Manager</p>
        </div>
   </footer>
</div>
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script> 
   <script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>

   <script src="main.js"></script>
</body>
</html>