*{
    margin: 0px;
    padding: 0px;
}
header{
height: 70px;
background-color: black;
margin-bottom: 20px;
  }

.a{
    color: white;
    text-decoration: none;
    position: absolute;
    top:20px;
    left: 30px;
}
h1{
    color: white;
    position: absolute;
    top: 20px;
    left: 250px;
}
.image_one{
    display: block;
    position: absolute;
    left: 1100px;   
 }
.block{
    display: inline-block;
    background-image: url("image_two.jpg");
    background-repeat: no-repeat;
    background-size: 300px 755px;
    height: 750px;
    
}

.block1{
    text-align: center;
    vertical-align: top;
    display: inline-block;
    width: 300px;
    margin-left: 300px;

}

.block2{
    text-align: center;
    vertical-align: top;
    display: inline-block;
    width: 300px;
    margin-left: 20px;
}

.block3{
    text-align: center;
    vertical-align: top;
    display: inline-block;
    width: 300px;
    margin-left: 20px;
}


.list{
    text-align: center;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin-left: 50px;
    margin-top: 20px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}

.list h3{
    margin-top: 10px;
}
.list p{
    margin-top: 15px;
}

.image_list{
    margin-left: 150px;
    margin-top: 10px;
}

footer{
    height: 50px;
    background-color: black;
    position: relative;    
}

.footer_text{
    display: block;
    position: absolute;
    top: 20px;
    left: 500px;
    color: white;
}
.menu{
    display: none;
}

textarea{
resize: none;
border: none;
height: 120px;
background-color: white; 
}

.activeText{
background-color: rgb(228, 227, 227);
}

input{
position: absolute;
top:40px;
left:10px;
}
@media (max-width: 480px){ 
    header{
        height: 70px;
        background-color: black;
        margin-bottom: 2px;
          }
        
    h1{
        color: white;
        font-size: 19px;
        position: absolute;
        top: 10px;
        left: 5px;
        }
    .image_one{
        display: none; 
    }
    .block{
        display: inline-block;
        background-image: none;  
    }

    .block1{
        margin-left: 0px;
    }
    
    
    .block2{
        margin-left: 0px;
    }
    
    .block3{
        margin-left: 0px;
    }
    .list{
        margin-left: 20px;
    }
    .footer_text{
        display: block;
        position: absolute;
        top: 20px;
        left: 50px;
        color: white;
    }
    footer{
        margin-top: 20px;
    }

    .menu{
        display: block;
        background-color: black;
    }
    .m{
        display: block;
        border: 1px solid white;
        color:white;
        text-decoration: none;
    }
}
